 .juzhong{
  text-align: center;
  line-height: 50px;
}
.kuang{
  width: 80%;
  margin: 0 auto;
}
table{
  text-align: center;
  margin-top:20px;
}
.next{
  width: 80%;
  margin:20px auto;
}

.left{
  width: 70%;
  height:200px;
  border: solid 2px red;
  float:left;
}
.right{
  width: 15%;
  float: right;
}
.last{
  margin-top:50px;
}