.juzhong{
  text-align: center;
  line-height: 50px;
}
.tu{
  border: 2px solid rgba(0, 243, 255, 0.54);
  margin: 0 auto;
  width: 90%;
  height: 500px;
}
body { padding-bottom: 70px; }
.qingjiao{
  margin-top:10px;
}