 .juzhong{
  text-align: center;
  line-height: 50px;
}
body{
  padding-bottom: 70px;
}
.tp{
  margin-top:100px;
}
.right{
margin-left: 80%;
}
a{
  text-decoration: none;
}
.forget{
  display: block;
  float:right;

}
