.juzhong{
  text-align: center;
  line-height: 50px;
}
body{

  padding-bottom: 70px;
}
.left{
  display: inline-block;

}
.right{
  display: inline-block;
   margin-right: 30%;
 
}
th,td{
  width: 1%;

}
#new{
  display: inline-block;
  margin-left: 20px;
  font-weight: bold;
}
#inew{
  margin-left: 20px;
  width: 70%;
}
td input{
  width:105px;
  height:25px;
}

