.juzhong{
  text-align: center;
  line-height: 50px;
}
body{

  padding-bottom: 70px;
}
.tp{
  margin-top:70px;
}
.right{
margin-left: 80%;
}
.right a{
  text-decoration: none;
}
.forget{
  text-decoration: none;
  margin-left: 80%;
}