 .juzhong{
  text-align: center;
  line-height: 50px;
}
body{
  padding-bottom: 70px;
}
td,th{
  text-align: center;
  padding: 5px;
}
.smaller{ 
  width: 50%;
}
.ii{
  width: 50% !important;
}

